body{
	background-image: url("../IMG/LR7_bg.jpg");
	background-size: cover;
}

.inputField {
	border-radius: 10px;
	height: 5%;
	width: 90%;
	margin-bottom: 20px;
	text-align: center;
	font-size: 24px;
}

.ballDiv{
	width: 90%;
	height: 92%;
	text-align: center;
	justify-content: center;
	background-image: url("../IMG/mbLr7.png");
	background-size: cover;
	background-position: center;
	color: white;
	text-shadow: #FC0 1px 0 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.flex{
	display: flex; 
	align-items: center;
}